@mixin d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@mixin vertical-between {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}