:root {
    --font-family: 'Public Sans', sans-serif;
    --primary-color: #800000;
    --secondary-color: #FDEAEA;

    --primary-text-color: #231F20;
    --secondary-text-color: #808080;
    --text-color-light: rgba(50, 71, 92, 0.87);
		--scroll-bg-color: #FFAFAF;
		--newsletter-text-color: #32475CDE;
		--success-message-color: #015130;
		--login-heading-color: #024C2B;
		--login-text-color: #32475C99;


    --green-color: #015130;

    --black: #000;
    --white: #fff;

    --gray-border: #DADADA;

    --blue-color: #1D2B4F;
}