.two-col-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;

	p{
		font-weight: 400;
		font-size: 20px;
	}
}
.advertise-image {
    width: 100%;
		height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
		border-radius: 16px;
}
.bg-icon{
	background: url(../images/bg-graphic.png) right -50px top 109px no-repeat;
}
.editorial-sec{
	background-color: var(--secondary-color);
	h6{
		font-size: 26px;
		line-height: 1.5;
		font-weight: 600;
		margin: 0;
	}
}